.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  gap: var(--space-8);
  justify-content: space-between;
}

.skeletonCard {
  width: 240px;
  height: 360px;
  background-color: var(--color-bg-elevated);
  border-radius: var(--radius-xl);
}
