.button {
  display: flex;
  align-items: center;
  padding: var(--space-2);
  border-radius: 100%;
  color: var(--color-accent);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.button:hover {
  background-color: var(--color-accent-muted);
}

.heartIcon {
  width: 28px;
  height: 28px;
}
