.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: auto;
  height: 70vh;
  flex-direction: column;
  gap: var(--space-4);
}

.text {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  margin-right: var(--space-2);
  margin-bottom: var(--space-1);
}
