.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  margin-bottom: var(--space-16);
}

.info {
  display: flex;
  gap: var(--space-8);
}

.poster {
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-bg-elevated);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.descriptionText {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
}
