.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.meta {
  display: flex;
  gap: var(--space-1);
  color: var(--color-text-muted);
}

.rating {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.starIcon {
  color: var(--color-rating);
  height: 24px;
  width: 24px;
}

.ratingNumber {
  font-size: var(--font-size-lg);
}

.voteCount {
  color: var(--color-text-muted);
  margin-left: var(--space-2);
  align-self: flex-end;
  font-weight: var(--font-weight-regular);
}
