.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  margin-bottom: var(--space-12);
}

.info {
  display: flex;
  gap: var(--space-8);
  position: relative;
  overflow: hidden;
}

.backdropImage {
  object-fit: cover;
  object-position: top;
  border-radius: var(--radius-xl);
  z-index: -10;
}

.backdropOverlay {
  z-index: -10;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.backdropOverlayBottom {
  z-index: -10;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 40%
  );
}

.poster {
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-bg-elevated);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.descriptionText {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
}
