.button {
  composes: base from "@/styles/button.module.css";
  background-color: var(--color-bg-overlay);
  width: 7rem;
  height: 2.5rem;
  margin-block: var(--space-4);
  padding-right: var(--space-1);
}

.text {
  padding-bottom: var(--space-1);
}

.arrowIcon {
  width: 20px;
  height: 20px;
}
