.page {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  gap: 2rem;
  justify-content: space-between;
}

.li {
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
