.wrapper {
  position: sticky;
  z-index: var(--z-header);
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-accent-muted);
  background-color: var(--color-bg-transparent);
}

.header {
  max-width: var(--content-max-width);
  padding: var(--space-4) var(--space-16);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr minmax(0, var(--search-max-width)) 1fr;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: var(--space-3);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  text-wrap-mode: nowrap;
}

.highlighted {
  color: var(--color-accent);
}
