.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  height: 50vh;
}

.title {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xl);
}

.message {
  font-family: var(--font-secondary);
  color: var(--color-text-muted);
  max-width: var(--text-max-width);
}

.button {
  composes: base from "@/styles/button.module.css";
  margin-top: var(--space-4);
  height: 2.5rem;
  padding-bottom: var(--space-1);
  padding-inline: var(--space-6);
}
